Package: poapr
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.31), gcc (>= 9)
Maintainer: Nikita
Description: Программа для деления массива на три части и подсчёта среднего арифметического чётных чисел
 Для заданного массива вычисляет среднее арифметическое чётных элементов
 в трёх частях массива, разделённых минимальным и максимальным элементами.



